<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Interviews tagger</h1>
            <h3 class="mb-5">
                <em>Tagg your ouwn interviews</em>
            </h3>
            <a href="/interviews" class="btn btn-primary">Start tagging interviews</a>
        </div>
    </header>
</main>