<div id="wrap">
    <div id="header">
        <!-- Put your logo here  -->
        <!-- <div id="logodiv"> <img id="imglogo" src="img/Untitledlogo.png" /></div>-->
        <div id="instContent">
            <h2>Guía rápida</h2>
            <ol>
                <li>Seleccione el fragmento de texto con el mouse.</li>
                <li>Indique a qué categoría pertenece el texto con los botones del menú a la derecha.</li>
                <li>Escriba comentarios en el campo de texto de la izquerda.</li>
            </ol>
        </div>
    </div>

    <div id="leftside">
        <div class='title'>Targets</div>
        <div id='targets'></div>
    </div><!-- closes <leftside>-->

    <div id="centerside">
        <div id="nav">
            <ul>
                <li><button id="clean">Recomenzar</button></li>
                <li><button id="next">Enviar</button></li>
                <li>
                    <div id="radio-form">
                        <form>
                            <input type="radio" name="radioconcerne" value="concerne" checked /> Concierne
                            <input type="radio" name="radioconcerne" value="nonconcerne" /> No concierne
                        </form>
                    </div>
                </li>
            </ul>
        </div>

        <!-- THE CONTENT SENT BY THE SERVER GOES HERE  -->
        <div id="toinsert"></div>


    </div>
    <!--closes <centerside>-->

    <div id="rightside">
        <div class='title'>Opinión</div>
        <div id='labels'>
            <ul>
                <li><button id="tresp">positiva</button></li>
                <!-- <li><button id="justep">positif</button></li> -->
                <!-- <li><button id="neutre"> neutre </button></li> -->
                <!-- <li><button id="justen">negatif</button></li> -->
                <li><button id="tresn">negativa</button></li>
            </ul>
        </div>
    </div>

</div>
<!--closes <wrap>-->