<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h3 class="text-center p-4">Interview {{interview.idInterview}}</h3>     
        <textarea id="text_html" cols="80" rows="50">{{interview.content}}</textarea>
      </div>
    </div>
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <div>
            <h3 class="text-center p-3">Add new tagg</h3>
          </div>
          <form action="/tags/add" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
            </div>
            <div class="form-group">
              <textarea name="contents" class="form-control" rows="2" placeholder="content" id="result"></textarea>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="anotations" placeholder="anotations">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/interviews/all.js">
</script>